.ArrowContainer{
  height: 60px;
  width: 60px;
  img{
    max-width: 100%;
    height: auto;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    pointer-events: none;

  }
  &.left{
    img{
      transform: rotate(-90deg);
    }
  }
  &.right{
    img{
      transform: rotate(90deg);
    }
  }
  &.bottom{
    img{
      transform: rotate(180deg);
    }
  }
}
