body{
  background-color: #AAAE7F;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1{
  font-weight: 400;
}

button{
  background: #636736;
  border:none;
  color:white;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px;
}

input{
  font-size: 15px;
  border: none;
  padding: 10px;
  outline: none;
  display: block;
  margin-top: 10px;
}
