.Joystick{
  display: flex;
  flex-direction: column;
  align-items: center;
  .JoystickContainer{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__leftRight{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
