body {
  background-color: #AAAE7F; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

h1 {
  font-weight: 400; }

button {
  background: #636736;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px; }

input {
  font-size: 15px;
  border: none;
  padding: 10px;
  outline: none;
  display: block;
  margin-top: 10px; }

.ArrowContainer {
  height: 60px;
  width: 60px; }
  .ArrowContainer img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none; }
  .ArrowContainer.left img {
    transform: rotate(-90deg); }
  .ArrowContainer.right img {
    transform: rotate(90deg); }
  .ArrowContainer.bottom img {
    transform: rotate(180deg); }

.Joystick {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Joystick .JoystickContainer {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .Joystick__leftRight {
    display: flex;
    justify-content: space-between;
    width: 100%; }
